body{
  height: 3000px;
}




.bottom-right{
  position: fixed;
  background-color: rgb(150, 150, 150);
  right: 20px;
  bottom: 20px;
  width: 320px;
  height: 180px;
  
}



.close-button{
  background-color: black;
  color: white;
  position: absolute;
  top: -18px;
  left: -18px;
  font-family: arial;
  font-size: 20px;
  height: 45px;
  width: 45px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.video-time{
  background-color: black;
  color: white;
  position: absolute ;
  right: 10px;
  bottom: 10px;
  font-family: arial;
  font-size: 18px;
  padding: 5px 10px;
  

  
}