body{
  height: 3000px;
}

.left-sidebar{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 75px;
  background-color: rgb(32, 34, 37); 
  display: flex;
  flex-direction: column;
  
  padding-left: 10px;
  padding-top: 15px;
}

.picture{
  height: 60px;
  width: 60px;
  border-radius: 40px;
  object-fit:  cover;

}

.channel-sidebar{
  background-color: rgb(55, 55, 55);
  position: fixed;
  top: 0;
  left: 80px;
  bottom: 0;
  width: 150px;
  padding: 15px;
}


.header-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}

.name{
  color: white;
  font-size: 14px;
}

.create-new{
  color: rgb(150, 150, 150);
}
.channel{
  color: rgb(150, 150, 150);
  margin-bottom: 16px;
}
