  p{
    font-family: arial;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .tweet-header {
    margin-bottom: 4px;
    
  }
  .tweet-author {
    font-weight: bold;
  }

  .tweet-info{
    color: rgb(119, 116, 116);
    line-height: 25px;
    margin-bottom: 20px;
  }

  .tweet{
    line-height: 25px;
    margin-bottom: 20px;
    width: 500px;
  }


.tweeter-handle {
  color: rgb(58, 108, 199);
}